.topBar {
  border-bottom: 2px solid var(--border-color);
  /* border-top: 2px solid rgb(34, 44, 49); */
  color: var(--gold);
  flex: 0 1 auto;
  font-size: 48px;
  padding: 10px 0;
  text-align: center;
}
